<html>
    <head>
        <title>
            <%= title %>
        </title>
        <link rel="stylesheet" href="/css/layout.css">
        <link rel="stylesheet" href="/css/header.css">
        <link rel="stylesheet" href="/css/footer.css">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500&display=swap" rel="stylesheet">
        <%- style %>
    </head>

    <body>
        <%- include('_header'); %>

        <%- body%>

        <%- include('_footer'); %>

        <%- script %>
    </body>



</html>